<div class="js">
  <span class="keyword">var</span> <span>results</span> = <span class="object-start">{</span>
  <div class="object-contents">
    <span class="field">nav</span>: <span class="object-start">{</span>
    <div class="object-contents">
      <div class="simple-field">
        <span class="field">devRant</span>: <a href="https://devRant.io/feed"
                                               class="string">"https://devRant.io/feed",</a>
      </div>
    </div>
    <span class="object-end">},</span>
    <span class="field">sort</span>: <span class="object-start">{</span>
    <div class="object-contents">
      <div class="simple-field">
        <span class="field">algo</span>: <a href="https://devRant.io/feed/algo" class="string">"https://devRant.io/feed/algo",</a>
      </div>
      <div class="simple-field">
        <span class="field">recent</span>: <a href="https://devRant.io/feed/recent" class="string">"https://devRant.io/feed/recent",</a>
      </div>
      <div class="simple-field">
        <span class="field">top</span>: <a href="https://devRant.io/feed/top" class="string">"https://devRant.io/feed/top"</a>
      </div>
    </div>
    <span class="object-end">},</span>
    <span class="field">rants</span>: <span class="array-start">[</span>
    <div class="array-contents">
      <pre class="string" *ngIf="rants.length == 0">"Loading..."</pre>
      <div *ngFor="let rant of rants; let i = index" [class.first]="i == 0">
        <span class="object-start">{</span>
        <div class="object-contents">
          <div class="simple-field">
            <span class="comment">// Click the username to view more information</span>
            <span class="field">user</span>:
            <a href="https://www.devrant.io/users/{{rant.user_username}}" class="string">"https://www.devrant.io/users/{{rant.user_username}}"</a>,
          </div>
          <div class="simple-field">
            <span class="field">rant</span>:
            <div *ngFor="let line of getLines(rant); let i = index" class="string-line" [class.first]="i == 0">
              <span class="string">{{line}}</span><span *ngIf="i < rant.lines.length - 1"> +</span><span
              *ngIf="i == rant.lines.length - 1">,</span>
            </div>
          </div>
          <div class="simple-field" *ngIf="rant.attached_image != ''">
            <span class="comment">// Hover over the image link to view it</span>
            <span class="field">image</span>: <a class="string tooltip-wrapper"><img
            src="{{rant.attached_image.url}}" class="tooltip"/>{{escape(rant.attached_image.url)}}</a>,
          </div>
          <span class="field">vote</span>: <span class="object-start">{</span>
          <div class="object-contents">
            <div class="simple-field">
              <span class="field">score</span>: <a class="number">{{rant.score}}</a>,
            </div>
            <div class="simple-field">
              <span class="comment">// Click the boolean to ++ this rant</span>
              <span class="field">"++"</span>: <a class="boolean">{{rant.vote_status == 1}}</a>,
            </div>
            <div class="simple-field">
              <span class="comment">// Click the boolean to -- this rant</span>
              <span class="field">"--"</span>: <a class="boolean">{{rant.vote_status == -1}}</a>
            </div>
          </div>
          <span class="object-end">},</span>
          <div class="simple-field">
            <span class="comment">// Click here to open the rant on devRant.io</span>
            <span class="field">openOnDevRant</span>: <a href="https://www.devrant.io/rants/{{rant.id}}" target="_blank"
                                                         class="string">"https://www.devrant.io/rants/{{rant.id}}"</a>,
          </div>
          <div *ngIf="rant.num_comments > 0">
            <span class="field">comments</span>: <span class="array-start">[</span>
            <div class="array-contents">
              <a (click)="loadComments(rant)" class="string" *ngIf="!rant.comments && !rant.loadingComments">"Click to
                load comments!"</a>
              <a class="string" *ngIf="rant.loadingComments">"Loading..."</a>
              <div *ngFor="let comment of rant.comments; let i = index">
                <span class="object-start">{</span>
                <div class="object-contents">
                  <div class="simple-field">
                    <span class="field">user</span>: <a href="https://www.devrant.io/users/{{comment.user_username}}"
                                                        target="_blank" class="string">"{{comment.user_username}}"</a>,
                  </div>
                  <div class="simple-field">
                    <span class="field">comment</span>: <span class="string">{{escape(comment.body)}}</span>,
                  </div>
                  <span class="field">vote</span>: <span class="object-start">{</span>
                  <div class="object-contents">
                    <div class="simple-field">
                      <span class="field">score</span>: <a class="number">{{comment.score}}</a>,
                    </div>
                    <div class="simple-field">
                      <span class="comment">// Click the boolean to ++ this rant</span>
                      <span class="field">"++"</span>: <a class="boolean">{{comment.vote_status == 1}}</a>,
                    </div>
                    <div class="simple-field">
                      <span class="comment">// Click the boolean to -- this rant</span>
                      <span class="field">"--"</span>: <a class="boolean">{{comment.vote_status == -1}}</a>
                    </div>
                  </div>
                  <span class="object-end">},</span>
                </div>
                <span class="object-end">}</span><span *ngIf="i < rant.comments.length - 1">,</span>
              </div>
            </div>
            <span class="array-end">]</span>
          </div>
        </div>
        <span class="object-end">}<span *ngIf="i < rants.length - 1">,</span></span>
      </div>
    </div>
    <span class="array-end">]</span>
  </div>
  <span class="object-end">};</span>
</div>
